main {
  background: radial-gradient(rgb(230, 215, 170) 25%,rgb(175, 128, 17) 75%, white);
}

.homepage {
  background: url("../src/img/background.png");
}

.homepage .content {
  background: rgba(255,255,255,0.7);
}

.homepage .content .text {
    color: #000;
}

#foods > h2{
  margin: 3rem 8rem;
  font-size: 2.4rem;
  color: white;
}

.origin{
  margin-top: 0.5rem;
}